{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2>search</h2>
<table class="table table-bordered bg-light">
    <tr>
        <th>COVER</th>
        <th>TITLE</th>
        <th>AUTHOR</th>
        <th>PAGES</th>
        <th>PRICE</th>
        <th>LANGUAGE</th>

    </tr>
    {% for i in book %}
    <tr>
        <td><img src="{{i.cover.url}}"></td>
        <td>{{i.title}}</td>
        <td>{{i.author}}</td>
        <td>{{i.pages}}</td>
        <td>{{i.price}}</td>
        <td>{{i.language}}</td>

        <td><a href="{{i.pdf.url}}">download</a></td>




    </tr>
    {% endfor %}
</table>
















{% endblock %}